---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>
      <a href={`<?php echo get_home_url(); ?>`}>
        <Fragment set:html={`<?php bloginfo( 'name' ); ?>`} />
      </a>
    </h1>

    <h2 set:html={`<?php bloginfo( 'description' ); ?>`} />

    <Fragment
      set:html={`<?php
if ( have_posts() ) :
    while ( have_posts() ) : the_post(); ?>
        <h3><a href="<?php echo get_permalink(); ?>"><?php the_title(); ?></a></h3>
<?php
        the_content();
        wp_link_pages();

    endwhile;

    if ( get_next_posts_link() ) {
        next_posts_link();
    }

    if ( get_previous_posts_link() ) {
        previous_posts_link();
    };

    else : ?>
    <p>No posts found. :(</p>
<?php endif; ?>`}
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #333;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
