---
import postsLoop from "../components/posts-loop.php";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>
      <a href={`<?php echo get_home_url(); ?>`}>
        <Fragment set:html={`<?php bloginfo( 'name' ); ?>`} />
      </a>
    </h1>

    <h2 set:html={`<?php bloginfo( 'description' ); ?>`} />

    {postsLoop}
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #333;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
