---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { php } from "astro-php-flow";
---

<!doctype html>
<html
  lang={php`<?php echo get_bloginfo( 'language' ); ?>`}
  dir={php`<?php echo is_rtl() ? 'rtl' : 'ltr'; ?>`}
>
  <head>
    <meta charset={php`<?php bloginfo( 'charset' ); ?>`} />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Fragment set:html={php`<?php wp_head(); ?>`} />
    <link
      rel="icon"
      href={php`<?php echo get_theme_file_uri('/favicon.svg'); ?>`}
    />
  </head>
  <body class="<?php echo implode( ' ', get_body_class() ); ?>">
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
    <Fragment set:html={`<?php wp_footer(); ?>`} />
  </body>
</html>
