---
import Layout from "../layouts/Layout.astro";
import { If, While, php } from "astro-php-flow";
import PostTime from "../components/PostTime.astro";
---

<Layout>
  <If test="have_posts()">
    <While test="have_posts()">
      {php`<?php the_post() ?>`}
      <If test="has_post_thumbnail()">
        {php`<?php the_post_thumbnail('full'); ?>`}
      </If>
      <h4 class="title">{php`<?php the_title(); ?>`}</h4>
      <p class="date">
        <PostTime />
      </p>
      <div class="prose">
        {php`<?php the_content(); ?>`}
      </div>
    </While>
  </If>
</Layout>

<style>
  main {
    width: calc(100% - 2em);
    max-width: 100%;
    margin: 0;
  }
  .hero-image {
    width: 140%;
    margin-left: -20%;
    @media (max-width: 1280px) {
      width: 120%;
      margin-left: -10%;
    }
    @media (max-width: 1024px) {
      width: 100%;
      margin-left: 0;
    }
  }
  .hero-image :global(img) {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }
  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }
</style>
